<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" src="/js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
   
    <div class="container">
    <h1>Sign up</h1>

    <form method="POST" action="/adduser" onsubmit="return onFormSubmit(event)">
        <input type="text" name="name"  id="name" placeholder="Fulname"><br>
        <input type="text" name="email" id="email" placeholder="Email"><br>
        <input type="password" name="password" id="email" placeholder="Password"><br>
        <label>Male</label>
        <input type="radio" name="gender" value="Male">
        <label>Female</label>
        <input type="radio" name="gender" value="Female">
        <br>
        <input type="submit" value="Register" id='submit_form'>
    </form>
    <p class="message"></p>
    </div>
</body>
</html>