@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans JP', sans-serif;
}
body {
    background-color: #c5e3e3;
    text-align: center;
}
.container{
    width: 800px;
    margin: auto;
    margin-top: 25px;
}
.thead-dark{
    background: #07db91;
    
}
.dataTable th {
    padding: 10px;
}

.dataTable td {
    padding: 10px;
}

tbody tr:hover {
    background: #c2c2c2;
}
.dataTable{
    width: 100%;
}

.container input[type="text"], input[type="password"], input[type="email"]  {
      width :  350px;
      height: 25px; 
      padding: 5px;
      margin: 5px;
      box-sizing: border-box;
}
.container input[type="submit"] {
    width :  350px;
    height: 35px; 
    padding: 5px;
    margin: 5px;
    background: #3dd944;
    outline: none;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
}

/* .message{
    color: red;
} */

.headerLink{
    text-align: left;
    margin: 10px 0 10px 0;
}

.headerLink a {
    
}

.adduserContainer{
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 25px;
    
}

.formHolder{
    width: 700px;
    height: 55px;
    background: white;
    box-sizing: border-box;
}

.createTask{
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
}

.createTask select {
    width :  150px;
    height:   45px; 
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 20px;
    
}

.createTask input[type="text"] {
    width :  350px;
    height:   45px; 
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 20px;
}

.createTask input[type="submit"] {
    width :  150px;
    height:  55px; 
    padding: 5px;
    background: #3dd944;
    outline: none;
    border: none;
    float: right;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: white;
}

.custDrop{
    display: inline-block;
    position: relative;
}


.custome_arrow{
    background: white;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    pointer-events: none;
}
.arrow {
    border: solid #c2c2c2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    top: 40%;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
